<br /><br />
<div>
  <h2>Task List of {{name}}</h2>
  <br /><br />
  <ul *ngFor="let task of tasks">
    <li [ngClass]="(task.status==true) ? 'done' : ''">
      <h4>{{task.task}}</h4>
    </li>
  </ul>
</div>
