<!-- <div class="container">
  <form #LoginForm="ngForm" (ngSubmit)="login(LoginForm.value)">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        name="email"
        ngModel
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        ngModel
        placeholder="Password"
      />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div> -->

<br /><br />
<div class="container">
  <button
    class="btn btn-primary"
    style="margin-left: 250px"
    (click)="logInWithGoogle()"
  >
    Google Login
  </button>
</div>
