<div class="container">
  <br /><br />
  <div class="row">
    <div class="col-md-6">
      <a routerLink="login" class="btn btn-primary">Login</a>
    </div>
    <div class="col-md-6">
      <a routerLink="signup" class="btn btn-primary">Sign Up</a>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>

</div>
