<br /><br />
<button class="btn btn-primary" (click)="logOut()">Log Out</button>
<div style="margin-left: 250px;">
  <h1>List of Users</h1>
  <ul *ngFor="let name of names">
    <li>
      <h4 style="cursor: default;" (click)="showList(name.name)">{{name.name}}</h4>
    </li>
  </ul>
</div>
