<!-- <div class="container">
  <form #SignupForm="ngForm" (ngSubmit)="signup(SignupForm.value)">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        name="email"
        ngModel
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        ngModel
        placeholder="Password"
      />
    </div>



    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div> -->
<br /><br />
<button *ngIf="user==''" style="margin-left: 250px" class="btn btn-primary" (click)="signInWithGoogle()">
  Google Signup
</button>
<br />
<br />
<form *ngIf="user!=''" style="margin-left: 200px" #signupform="ngForm" (ngSubmit)="signup(signupform.value)">
  <label class="radio-inline">
    <input ngModel type="radio" value="admin" name="admin" />
    <h4>As Admin</h4>
  </label>

  <label style="margin-left: 50px" class="radio-inline">
    <input ngModel type="radio" value="user" name="user" />
    <h4>As User</h4>
  </label>
  <br /><br />
  <button style="margin-left: 70px" class="btn btn-primary" type="submit">
    Submit
  </button>
</form>
