<br /><br />
<button class="btn btn-primary" (click)="logOut()">Log Out</button>
<div style="margin-left: 250px;" class="container">
  <h1 style="margin-bottom: 50px;">AddYour Task</h1>

  <input #task type='text' name="task" (keyup.enter)="add(task.value); task.value='' "
    (blur)="add(task.value); task.value='' " />
  <button (click)="add(task.value)">Add</button>
  <br />
  <div style="margin-top:50px ;border: 1px solid black;width: 250px;height: 250px;">
    <ul *ngFor="let task of tasks">
      <li style="display: -webkit-box;" [ngClass]="(task.status==true) ? 'done' : ''">

        <h4>{{task.task}}</h4>

        <button style="margin-left: 50px;" (click)="done(task.task)">Done</button>


      </li>
    </ul>
  </div>

</div>
